@import 'tailwindcss';

body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

@theme {
    --color-navy-950:hsl(224, 30%, 27%);
    --color-navy-200:hsl( 241, 100%, 89%);
    --color-navy-50: hsl(221, 100%, 96%);
    --color-blue-800: hsl(234, 85%, 45%);
    --color-blue-50: hsl(234, 71%, 97%);
    --color-yellow-400: hsl(39, 100%, 56%);
    --color-yellow-50: hsl(38, 100%, 98%);
    --color-red-400: hsl(0, 100%, 67%);
    --color-red-50: hsl(0, 100%, 98%);
    --color-green-500: hsl(166, 100%, 38%);
    --color-green-50: hsl(162, 63%, 97%);
    --color-gradient-01: hsl(256, 71%, 46%);
    --color-gradient-11: hsl(241, 72%, 46%);
    --color-gradient-02: hsl(252, 100%, 67%);
    --color-gradient-22: hsl(241, 81%, 54%);
    --color-Violet-blue: hsl(256, 72%, 46%, 1);
    --color-Persian-blue: hsl(241, 72%, 46%, 0);

    --text-preset-1: 4.5rem;
    --text-preset-2: 3.5rem;
    --text-preset-3: 1.5rem;
    --text-preset-4: 1.125rem;
    --text-preset-5: 2rem;

    --font-hankenGrotest: 'hankenGrotest', sans serif;
    --spacing-clampResult-h: clamp(22.25rem, 12.9228rem + 39.7959vw, 32rem);
}

@font-face {
    font-family: 'hankenGrotest';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.woff2'),
        url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body,
#root {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}


button {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
